*{
  box-sizing: border-box;
}


html, body {
  margin: 0;
  padding: 0;
  min-width: 375px;
  width:100%;
  font-family: "Micro 5", sans-serif;
  font-size: 16px;
  background-color:black;
}

body {
  display: flex;
  flex-direction: column;
}

header {
  position: fixed;
  top: 0;
  min-width: 300px;
  width:100%;
  margin: 0;

  /*Variable*/
  height:50px;

  display: flex;
  flex-direction: row;

  /*Variable*/
  padding: 10px;

  align-items: center;
  justify-content: space-between;

  

  border: 1px solid black;
  background-color: white;
  z-index: 2;
}

nav{
  justify-content: end;
}

header ul {
  list-style-type: none;
  display: inline-flex;
  align-items: center;
  padding: 0;
  margin: 0;
}


header a{
  text-decoration: none;
  color: black;
}

header h1 {
  /*Variable*/
  font-size: 1.75rem;
  
}

header li {
  padding-left: 10px;

  /*Variable*/
  font-size: 1rem;
}

.main{
  position: absolute;
  top: 50px;
  min-width: 300px;
  width:100%;
  margin-bottom: 100px;
}

.feature {
  min-width: 300px;
  width:100%;
  padding: 50px;
  display: flex;
  text-align: center;
  background-image: url("res/backgrounds/stage_red_2.JPG");
  background-size: cover;
  background-repeat: no-repeat;
  background-position:center;
  background-color: black;
  height: 95vh;
  align-items: center;
}

.feature h2{
  margin: 0 auto;

  /*Variable*/
  font-size: 2.5rem;

  color: white;
  margin-bottom: 100px;
  background: rgba(8, 8, 8, 0.1);
  padding: 10px;
  border-radius: 100%;
}

.shows{
  display: flex;
  flex-direction: column;
  min-width: 300px;
  width:100%;
  height: fit-content;
  justify-content: stretch;
  margin: 0 auto;
}

.table {
  width: 90%;

  /*variable*/
  min-width: 200px;

  text-align: left;
  padding: 15px 0px 15px 15px;
  margin: 0 0 50px 0;
  border-spacing: 1px;
}

.table-head{
  color: yellowgreen;

  /*Variable*/
  font-size: 1.75rem;
}

#past_shows, #upcoming_shows{
  display: flex;
  min-width: 300px;
  width:100%;
  height: 95vh;
  color: white;
  flex-direction: column;
  text-align: center;

  align-items: center;
  justify-content: center;
 
}

#past_shows{
  background-image: url("res/backgrounds/stage_blurple.JPG");
  background-position:center;
  background-size: cover;
  background-repeat: no-repeat;
}

#upcoming_shows{
  background-image: url("res/backgrounds/stage_green.JPG");
  background-position:center;
  background-size: cover;
  background-repeat: no-repeat;
}


#past_shows h2, #upcoming_shows h2, table{
  background-color: black;
  background: rgba(8, 8, 8, 0.3);
  
}

#past_shows h2, #upcoming_shows h2, #section_about_us h2{
  margin: 0 auto;
  padding: 5px;
  color: yellowgreen;
  
  /*Variable*/
  font-size: 2.25rem;

  text-decoration: underline;
}

#past_shows table thead th:nth-child(1) , #upcoming_shows table thead th:nth-child(1) {
  width: 50%;
}

#past_shows table thead th:nth-child(2) , #upcoming_shows table thead th:nth-child(2) {
  width: 0%;
}

#past_shows table thead th:nth-child(3), #upcoming_shows table  thead th:nth-child(3) {
  width: 0%;
}

#past_shows table thead th:nth-child(4) #upcoming_shows table  thead th:nth-child(4) {
  width: 50%;
}

#past_shows table td, #upcoming_shows table td{

  /*Variable*/
  font-size: 1.25rem;
  vertical-align: top;
}

table a{
  text-decoration: underline;
  color: white;
}

.venue, .city{
  display: none;
}

#section_about_us{
  margin: 50px 15px 75px 15px;
  display: flex;
  background-color: black;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 340px;
}

#section_about_us img{
  /*Variable*/
  min-height: 200px;
  /*Variable*/
  min-width: 300px;

  margin: 0;
}

#section_about_us p{
  color: yellowgreen;
  padding: 10px 15px;
  margin: 0;
  text-align: center;

  /*Variable*/
  font-size: 2rem;
}

footer {
  position: fixed;
  height: 25px;
  min-width: 100%;
  z-index: 2;
  background-color:white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  margin: 30px 0 0 0;
  bottom: 0px;
}

.Gallery{
  display: flex;
  flex-direction: column;
  height: 65vh;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}

#backBtn{
  color: greenyellow;
  text-decoration: none;
  border: 1px solid yellowgreen;
  font-family: "Micro 5", sans-serif;
  font-size: 16px;
  background: none;
  margin: 25px;
}

.image-slider {
  width: 80%;
  text-align: center;
}
.image-slider .slick-dots {
  bottom: -30px;
}
.image-slider img {
  max-width: 100%;
  max-height: 70vh;
  height: auto;
  margin: auto;
  
}

.slick-prev:before{
  color: black;
}


@media only screen and (min-width:500px)
{
  
  header h1 {
    /*Variable*/
    font-size: 2.15rem;
  }

  header li {
      padding-left: 5px;
      font-size: 1.25rem;
  }

  header li::before {   
    content: '';   
    display: inline-block;   
    height: 7px;   
    width: 7px;    
    background-size: 7px;   
    background-image: url('res/pick.png'); 
    background-repeat: no-repeat;   
    margin-right: 3px;
    background-position: center center;
    vertical-align: middle;
  }

  .feature h2{
      /*Variable*/
      font-size: 3.25rem;
  }

  .table-head{
      /*Variable*/
      font-size: 2.25rem;
  }

  #upcoming_shows table td, #past_shows table td{
      /*Variable*/
      font-size: 1.75rem;
  }

  #upcoming_shows h2, #past_shows h2,  #section_about_us h2{
      /*Variable*/
      font-size: 3.25rem;
  }
  
  #section_about_us img{
    /*Variable*/
    min-height: 300px;
    /*Variable*/
    min-width: 400px;
  
  }
  
  #section_about_us p{  
    /*Variable*/
    font-size: 2.5rem;
  }
}

@media only screen and (min-width:800px)
{

  header {
    /*Variable*/
    height:50px;
  
  
    border: 1px solid black;
    background-color: white;
    z-index: 2;
  }

  header h1 {
    /*Variable*/
    font-size: 3.5rem;
  }

  header li {
      padding-left: 10px;
      font-size: 1.75rem;
  }

  header li::before {   
    height: 15px;   
    width: 15px;    
    background-size: 15px;   
    margin-right: 5px;
  }


  #past_shows table thead th:nth-child(1) , #upcoming_shows table thead th:nth-child(1) {
      width: 35%;
  }
  
  #past_shows table thead th:nth-child(2) , #upcoming_shows table thead th:nth-child(2) {
      width: 25%;
  }
  
  #past_shows table thead th:nth-child(3), #upcoming_shows table  thead th:nth-child(3) {
      width: 20%;
  }
  
  #past_shows table thead th:nth-child(4) #upcoming_shows table  thead th:nth-child(4) {
      width: 20%;
  }

  .venue, .city{
      display:table-cell;
  }
  
  #section_about_us img{
    /*Variable*/
    min-height: 400px;
    /*Variable*/
    min-width: 500px;
  
  }
  
  #section_about_us p{  
    /*Variable*/
    font-size: 2.75rem;
    max-width: 1000px;
  }

  footer {
    height: 35px;
    font-size: 2rem;
  }
  }
