*{
  box-sizing: border-box;
}


html, body {
  margin: 0;
  padding: 0;
  min-width: 300px;
  width:100%;
  font-family: "Micro 5", sans-serif;
  font-size: 16px;
  background-color:black;
}

body {
  display: flex;
  flex-direction: column;
}

header {
  position: fixed;
  top: 0;
  min-width: 300px;
  width:100%;
  margin: 0;

  /*Variable*/
  height:50px;

  display: flex;
  flex-direction: row;

  /*Variable*/
  padding: 10px;

  align-items: center;
  justify-content: space-between;

  

  border: 1px solid black;
  background-color: white;
  z-index: 2;
}

nav{
  justify-content: end;
}

header ul {
  list-style-type: none;
  display: inline-flex;
  align-items: center;
  padding: 0;
  margin: 0;
}


header a{
  text-decoration: none;
  color: black;
}

header h1 {
  /*Variable*/
  font-size: 1.75rem;
  
}

header li {
  padding-left: 5px;

  /*Variable*/
  font-size: .9rem;
}

.main{
  position: absolute;
  top: 50px;
  min-width: 300px;
  width:100%;
}

.feature {
  min-width: 300px;
  width:100%;
  padding: 50px;
  display: flex;
  text-align: center;
  /* background-image: url("res/83B027FC-7CCC-4196-AF28-96C848DB6B25.JPG"); */
  /* background-size:cover;
  background-repeat: no-repeat;
  background-position:center;
  background-color: black; */
  height: 600px;
  align-items: center;
}

.feature h2{
  margin: 0 auto;

  /*Variable*/
  font-size: 2rem;

  color: white;
  margin-bottom: 100px;
  
}

.shows{
  display: flex;
  flex-direction: column;
  min-width: 300px;
  width:100%;
  height: fit-content;
  justify-content: stretch;
  margin: 0 auto;
}

.table {
  width: 90%;

  /*variable*/
  min-width: 200px;

  text-align: left;
  padding: 15px 0px 15px 15px;
  margin: 0;
  border-spacing: 1px;
}

.table-head{
  color: yellowgreen;

  /*Variable*/
  font-size: 1.75rem;
}

#past_shows, #upcoming_shows{
  display: flex;
  min-width: 300px;
  width:100%;
  color: white;
  flex-direction: column;
  text-align: center;

  align-items: center;
  justify-content: center;
  /* background-image: url("res/58311D3B-2A3A-40F9-A3C7-AEA7F1DC777F.JPG");
  background-position:center;
  background-size: cover;
  background-repeat: no-repeat; */
}

#past_shows h2, #upcoming_shows h2, table{
  background-color: black;
  opacity: .75;
}

#past_shows h2, #upcoming_shows h2{
  margin: 0 auto;
  padding: 5px;
  color: yellowgreen;
  
  /*Variable*/
  font-size: 2rem;

  text-decoration: underline;
}

#past_shows table thead th:nth-child(1) , #upcoming_shows table thead th:nth-child(1) {
  width: 50%;
}

#past_shows table thead th:nth-child(2) , #upcoming_shows table thead th:nth-child(2) {
  width: 0%;
}

#past_shows table thead th:nth-child(3), #upcoming_shows table  thead th:nth-child(3) {
  width: 0%;
}

#past_shows table thead th:nth-child(4) #upcoming_shows table  thead th:nth-child(4) {
  width: 50%;
}

#past_shows table td, #upcoming_shows table td{

  /*Variable*/
  font-size: 1.25rem;
  vertical-align: top;
}

.venue, .city{
  display: none;
}

#section_about_us{
  background-color: yellowgreen;
}
#section_about_us h2{
  margin: 0 auto;

  /*Variable*/
  font-size: 2rem;

  color: white;
}

footer {
  position: fixed;
  height: 25px;
  min-width: 100%;
  z-index: 2;
  background-color:white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  margin: 60px 0 0 0;
  bottom: 0px;
}

@media only screen and (min-width:500px)
{
  
  header h1 {
    /*Variable*/
    font-size: 2.15rem;
  }

  header li {
      padding-left: 5px;
      font-size: 1.25rem;
  }

  header li::before {   
    content: '';   
    display: inline-block;   
    height: 7px;   
    width: 7px;    
    background-size: 7px;   
    background-image: url('res/pick.png'); 
    background-repeat: no-repeat;   
    margin-right: 3px;
    background-position: center center;
    vertical-align: middle;
  }

  .feature h2{
      /*Variable*/
      font-size: 3.25rem;
  }

  .table-head{
      /*Variable*/
      font-size: 2.25rem;
  }

  #upcoming_shows table td, #past_shows table td{
      /*Variable*/
      font-size: 1.75rem;
  }

  #upcoming_shows h2, #past_shows h2{
      /*Variable*/
      font-size: 3.25rem;
  }
}

@media only screen and (min-width:800px)
{
  header h1 {
    /*Variable*/
    font-size: 3rem;
  }

  header li {
      padding-left: 10px;
      font-size: 1.5rem;
  }

  header li::before {   
    height: 15px;   
    width: 15px;    
    background-size: 15px;   
    margin-right: 5px;
  }


  #past_shows table thead th:nth-child(1) , #upcoming_shows table thead th:nth-child(1) {
      width: 35%;
  }
  
  #past_shows table thead th:nth-child(2) , #upcoming_shows table thead th:nth-child(2) {
      width: 25%;
  }
  
  #past_shows table thead th:nth-child(3), #upcoming_shows table  thead th:nth-child(3) {
      width: 20%;
  }
  
  #past_shows table thead th:nth-child(4) #upcoming_shows table  thead th:nth-child(4) {
      width: 20%;
  }

  .venue, .city{
      display:table-cell;
  }
  }
